<p></p>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250pix" src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcT_XGVpKfG1otWIf-z3cmUJwQH1aE92Hr-sDTvAgbZfiXFG3S0S8X-HgJu_4nbhj2aFXOhqkhtEaffO49vI_GyGcyZQMeD__A7N537fGek&usqp=CAE" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">SEVEN DAYS</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-dark">BUY</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250pix" src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSNvID5OvYXID8vP8CHakJos3ddFTIUdZ3yrvu9ltervO1inwIVvCT3HhpFlymAdAg7NbJjYIKUVCBE5_S-WORU8pqfcyTRGIMNPqzMosk&usqp=CAE" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">The Diary Of A Young Girl</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-dark">BUY</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250pix" src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcR9dSccNAnPpwDwdsNLGes-iiSnIispOxz6cttXimBSJltc31HQT6Req6RKc6_R9eyZ9v6mG8nAEyPnNKv3EJcYdWQiC2pOFbARDUds1albNr7RxXGNvcK1&usqp=CAE" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Novel By Poem</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-dark">BUY</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250pix" src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcTSSy-l-19sG9eNL8fejuXUCeSebr_sOu33yEs7-jE6AWUaLBMq61WZK7IFBDiRSimkutC6IrPxbdSw8DOn0hLgXAg0rNIkPzeY-kd4N0U&usqp=CAE" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">The Sileint Patient</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-dark">BUY</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250pix" src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRLv37HbWFEPcFK8E_WjaUNz590P1kcAaQWDIxw2lWrjd3eaoMvUlZVHUoi9n-MOk578Zr6Yohv-7ldJvtAhypTvImCraa2h0q0zw7arNs&usqp=CAE" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">The Jungle Book</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-dark">BUY</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250pix" src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcS7WDfFu3qhYcfxBRNdV19i_AnhYa_-KbAsvK22H0v4g65r51md5LAEvbYShuzkmj2AyfPGddLGNrR057tHdEKVc02GbuIu-L9bk91Yj6AnUc_ciKamalrfJg&usqp=CAE" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">I Too Had A Love Story</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-dark">BUY</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250pix" src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQm8YQ9LahyRU_26Z4IDYYc2nBwVz9BnAjVqHCs8ZRydKlbzRfl40xkmXCB0Vx9rBe8cblEy2axpT4cDS2sNrdu93kqVonmmxHjdLHjpPwD&usqp=CAE">
                        <div class="card-body">
                          <h5 class="card-title">White</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-dark">BUY</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250pix" src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQzIFAF0Uh-87GLM3fR5r8icFJWrdohZVZcfjWJynszGbCvcnVNT0B9bX1520J9aT-1rSekpRHq8qdgcY4mK6FleY8hOyTYfBvb31U3VjE&usqp=CAE">
                        <div class="card-body">
                          <h5 class="card-title">Vividity</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-dark">BUY</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250pix" src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcT2THm8w0CxwRUVd4HSRG4EbuAZNMfUA9bKlAM3GrJyLJF10vk7Bk4R81eQb5NLdLKdgQ7cy5jLPEDLD0SN9t6NETbBoo_tlkGV45VUXyqgDqzpOgojWKr6&usqp=CAE">
                        <div class="card-body">
                          <h5 class="card-title">Everyone</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-dark">BUY</a>
                        </div>
                      </div> 
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="250pix" src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTd4ViJq1kUD0_m_T1s5b-GqwkLv9eEXcUN_Q4604SscpoNirK_I7sxAigdWrl1_WJE76gSkakmI2-JF6ZyXm7uPq4MPCaUV20KC2xwHlbR&usqp=CAE">
                        <div class="card-body">
                          <h5 class="card-title">Stranger Things-Suspicious Mind</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-dark">BUY</a>
                        </div>
                      </div> 
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success">submit</button>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>